/* Lato  */
@font-face {
   font-family:"Lato";
   font-style:normal;
   font-weight:300;
   src:url(../../fonts/LatoLight.woff) format("woff"),
   url(../../fonts/LatoLight.eot) format("eot"),
   url(../../fonts/LatoLight.ttf) format("truetype");
}
@font-face {
   font-family:"Lato";
   font-style:normal;
   font-weight:500;
   src:url(../../fonts/LatoRegular.woff) format("woff"),
   url(../../fonts/LatoRegular.eot) format("eot"),
   url(../../fonts/LatoRegular.ttf) format("truetype");
}
@font-face {
   font-family:"Lato";
   font-style:normal;
   font-weight:600;
   src:url(../../fonts/LatoBold.woff) format("woff"),
   url(../../fonts/LatoBold.eot) format("eot"),
   url(../../fonts/LatoBold.ttf) format("truetype");
}
@font-face {
   font-family:"Lato";
   font-style:normal;
   font-weight:700;
   src:url(../../fonts/LatoBlack.woff) format("woff"),
   url(../../fonts/LatoBlack.eot) format("eot"),
   url(../../fonts/LatoBlack.ttf) format("truetype");
}
/* Noto Sans KR */
@font-face {
   font-family:"Noto Sans KR";
   font-style:normal;
   font-weight:400;
   src:url(../../fonts/NotoSansKR_Regular.otf) format("opentype");
}
@font-face {
   font-family:"Noto Sans KR";
   font-style:normal;
   font-weight:500;
   src:url(../../fonts/NotoSansKR_Medium.otf) format("opentype");
}
@font-face {
   font-family:"Noto Sans KR";
   font-style:normal;
   font-weight:600;
   src:url(../../fonts/NotoSansKR_Bold.otf) format("opentype");
}



/* Noto Sans KR */
//@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
