@charset "UTF-8";

/* Font style setting */
$lato:"Lato", Arial, Apple SD Gothic Neo, sans-serif;
$noto:"Noto Sans KR", Arial, Apple SD Gothic Neo, sans-serif;

/* Point color setting */
$black:#000;
$white:#fff;

$red:#f70707;

$gray1:#1e1e1e;
$gray2:#646668;
$gray3:#a4a4a4;
$gray4:#d4d4d4;
$gray5:#f4f4f4;

/* Background - color setting */
$bg-black:$black;
$bg-gray1:$gray1;
$bg-gray2:$gray2;
$bg-gray3:$gray3;
$bg-gray4:$gray4;
$bg-gray5:$gray5;

/* Border - color setting */
$bd-black:$black;
$bd-gray1:$gray1;
$bd-gray2:$gray2;
$bd-gray3:$gray3;
$bd-gray4:$gray4;
$bd-gray5:$gray5;

/* Font - color setting */
$txt-black:$black;
$txt-gray1:$gray1;
$txt-gray2:$gray2;
$txt-gray3:$gray3;
$txt-gray4:$gray4;
$txt-gray5:$gray5;

/* Input - color setting */
$inp-bd-base:$gray1;

/* Button - color setting */
$btn-black:$black;

/**
 * BASE SETTING
 */
$base-font:"Lato", "Noto Sans KR", AppleGothic, Arial, Helvetica, sans-serif;
$base-font-size:20px;
$base-font-color:$gray1;

$red : #f70707;

$letter-spacing:0;
$letter-spacing1:-1px;
$letter-spacing2:-2px;


$light:300;
$regular:400;
$medium:500;
$bold:700;
$black:900;

